*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Roboto, sans-serif;

  a{
    text-decoration: none;
    color: inherit;
  }

}

header{


  .banner{
    position: relative;
    text-align: center;
    padding: 15px 0;
    font-family: Shrikhand, cursive;
    font-size: 35px;

    span{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
    }

  }

  img{
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
  }


}

section.menu{

  padding: 25px 20px;
  background: #F5F5F5;
  border-radius: 35px 35px 0 0;
  margin-top: -38px;
  z-index: 10;
  position: relative;

  .restaurant-title{

    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h1{
      font-family: Shrikhand, cursive;
      margin: 0;
      font-size: 25px;
    }

    span i {
      font-size: 25px;
      margin-left: 25px;
    }

  }

  .menu-title{

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin: 40px 0 20px 0;

    .underline{
      width: 55px;
      height: 3px;
      background: $third-color;
      margin-top: 5px;
    }

  }


  .menu-items {

    .menu-item{

      margin: 10px 0;
      border-radius: 15px;
      background: #ffffff;
      padding: 12px;
      box-shadow: 3px 3px 10px rgb(100 100 100 / 25%);
      position: relative;
      overflow: hidden;

      .menu-item-title{
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .menu-item-detail{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-item-description{
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .menu-item-price{
          width: 75px;
          text-align: right;
          font-weight: 700;
        }

      }

      .menu-content{
        width: 100%;
        transition: width .4s linear;
      }

      .menu-check{
        background: $third-color;
        position: absolute;
        height: 100%;
        width: 20%;
        right: -20%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 25px;
        transition: right .4s linear;

        i {
          transition: transform .4s linear;
        }

      }

      &:hover{
        .menu-content{
          width: 78%;
        }
        .menu-check{
          right: 0;
          i {
            transform: rotate(360deg);
          }
        }
      }

    }


  }


  .div-order{
    padding: 30px 0;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-category {
    animation: appear 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    will-change: opacity, transform;
    opacity: 0;
  }

  @for $i from 1 through 15 {
    .menu-category:nth-child(#{$i}) {
      animation-delay: calc(.2s * #{$i})
    }
  }

}


@media only screen and (min-width: 768px) {

  .container{
    max-width: 1200px;
    margin: auto;
  }

  .menu{
    max-width: 1200px;
    margin: auto;
  }

  section.menu{

    .menu-categories{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .menu-category{
        width: 31%;
      }


    }

  }


  header {

    img {
      height: 500px;
    }

  }



}



